.custom-image {
    width: 100%; /* Hace que las imágenes sean responsive y ocupen el 100% del contenedor */
    max-width: 350px; /* Ancho máximo según tus preferencias */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin: 10px 0; /* Ajusta el espacio alrededor de la imagen según tus preferencias */
}

figure {
    max-width: 300px; /* Ajusta el ancho máximo según tus preferencias */
    margin: 0 auto; /* Centra la figura horizontalmente */
}

img {
    width: 100%; /* Hace que la imagen sea responsive dentro de la figura */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
}

figcaption {
    text-align: center; /* Centra el texto dentro del pie de página */
    margin-top: 10px; /* Ajusta el espacio superior según tus preferencias */
}

h5 {
    font-size: 1em; /* Ajusta el tamaño del texto según tus preferencias */
    margin: 0; /* Elimina el margen predeterminado del encabezado */
    color: red
}

/* Estilo para las opciones de navegación */
.nav-item a {
    margin-right: 10px; /* Agrega un margen derecho para separar las opciones */
    border-right: 1px solid #ddd; /* Agrega un borde derecho para separar visualmente */
    padding-right: 10px; /* Agrega un relleno derecho para mayor espacio visual */
}

/* Elimina el borde derecho en la última opción */
.nav-item a:last-child {
    border-right: none;
}

.custom-image-logo {
    width: 50%;
    max-width: 165px;
    display: block;
    margin: 10px
}